{{#unless isEdit}}
    {{!-- add form --}}
    <form action="/items" method="POST" enctype="multipart/form-data"
        class="w-full grid grid-cols-[30%_1fr] gap-2 shadow-lg shadow-gray-500 p-4 rounded-lg"
    >
        <h2 class="text-xl text-center font-semibold col-span-2 w-1/2 justify-self-center self-center">Add New Item</h2>

        <label for="name">Item name: </label>
        <input type="text" name="name" id="name" placeholder="Item Name..." required 
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="description">Item description: </label>
        <input type="text" name="description" id="description" placeholder="Item Description..." required 
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="brand">Brand: </label>
        <input type="text" name="brand" id="brand" placeholder="Item Brand..." required
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="model">Model: </label>
        <input type="text" name="model" id="model" placeholder="Item Model..." required 
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="serial">Serial Number: </label>
        <input type="text" name="serial" id="serial" placeholder="Item Serial Number..." required 
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="dateAcquired">Date of Acquisition: </label>
        <input type="date" name="dateAcquired" id="dateAcquired"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="category">Choose a category:</label>
        <select name="category" id="category"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >
            {{#each categories}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="status">Change status:</label>
        <select name="status" id="status"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >
            {{#each statuses}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="image">Item image: </label>
        <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png, image/jpg, image/png, image/jpeg"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >
        <button type="submit" class="justify-self-center self-center col-span-2 w-1/2 text-md bg-green-500 hover:bg-green-700 text-white cursor-pointer p-2 text-center transition-all ease-in-out duration-300">Submit</button>
    </form>
{{/unless}}

{{#if isEdit}}
    {{!-- edit form --}}
    <form
        class="w-full grid grid-cols-[30%_1fr] gap-2 shadow-lg shadow-gray-500 p-4 rounded-lg"
        id="updateForm"
    >
        <h2 class="text-xl text-center font-semibold col-span-2 w-1/2 justify-self-center self-center">Edit Item</h2>

        <label for="name">Item name: </label>
        <input type="text" name="name" id="name" placeholder="Item Name..." required value="{{name}}"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="description">Item description: </label>
        <input type="text" name="description" id="description" placeholder="Item Description..." required value="{{description}}"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="brand">Brand: </label>
        <input type="text" name="brand" id="brand" placeholder="Item Brand..." required value="{{brand}}"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="model">Model: </label>
        <input type="text" name="model" id="model" placeholder="Item Model..." required value="{{model}}"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="serial">Serial Number: </label>
        <input type="text" name="serial" id="serial" placeholder="Item Serial Number..." required value="{{serial}}"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="dateAcquired">Date of Acquisition: </label>
        <input type="date" name="dateAcquired" id="dateAcquired" value="{{dateAcquired}}"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >

        <label for="category">Choose a category:</label>
        <select name="category" id="category"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >
            {{#each categories}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="status">Change status:</label>
        <select name="status" id="status"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >
            {{#each statuses}}
                <option value="{{this.name}}">{{this.name}}</option>
            {{/each}}
        </select>

        <label for="image">Item image: </label>
        <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png, image/jpg, image/png, image/jpeg"
            class="w-full border-gray-500 border p-2 rounded-lg"
        >
        <button type="submit" class="justify-self-center self-center col-span-2 w-1/2 text-md bg-green-500 hover:bg-green-700 text-white cursor-pointer p-2 text-center transition-all ease-in-out duration-300">Submit</button>
    </form>
{{/if}}

<script>
    const form = document.querySelector('#updateForm');
    const itemId = "{{id}}";

    form.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = new FormData(form);

        const response = await fetch(`/items/${itemId}`, {
            method: 'PUT',
            body: formData
        });

        if (response.ok) {
            const data = await response.json();
            window.location.href = data.redirect;
        }
    });
</script>