<div class="w-full shadow-lg shadow-gray-500 rounded-lg overflow-hidden">
    <div class="overflow-hidden w-full h-50">
        <img src="{{this.imagePath}}" alt="{{this.imageAlt}}"
            class="w-full object-contain hover:scale-110 transition-all duration-300 ease-in-out cursor-pointer"
        >
    </div>

    <div class="p-2">
        <h3 class="text-lg font-medium">{{this.name}}</h3>
        
        <p>{{this.location}}</p>
        <p>{{this.description}}</p>
    </div>

    <div>
        <button class="w-full text-md text-gray-500 hover:text-gray-700 cursor-pointer p-2 text-center transition-all ease-in-out duration-300"
        >
            Checkout
        </button>
        <button class="w-full text-md text-gray-500 hover:text-gray-700 cursor-pointer p-2 text-center transition-all ease-in-out duration-300" 
            onclick="location.href='/items/{{this.id}}'"
        >
            View More
        </button>
    </div>
</div>