{{#unless isEdit}}
    {{!-- add form --}}
    <div class="w-full shadow p-4 rounded-lg gap-2 bg-white">
        <h2 class="text-xl text-center font-semibold w-1/2 justify-self-center self-center">Add New Item</h2>
        <form action="/items" method="POST" enctype="multipart/form-data"
            class="grid grid-cols-1 sm:grid-cols-[30%_1fr] grid-rows-auto gap-2"
        >
            <label for="name">Item name: </label>
            <input type="text" name="name" id="name" placeholder="Item Name..." required
                class="w-full border-gray-500 border p-2 rounded-lg"
            >
            <label for="description">Item description: </label>
            <input type="text" name="description" id="description" placeholder="Item Description..." required
                class="w-full border-gray-500 border p-2 rounded-lg"
            >
            <label for="brand">Brand: </label>
            <input type="text" name="brand" id="brand" placeholder="Item Brand..." required
                class="w-full border-gray-500 border p-2 rounded-lg"
            >
            <label for="model">Model: </label>
            <input type="text" name="model" id="model" placeholder="Item Model..." required
                class="w-full border-gray-500 border p-2 rounded-lg"
            >
            <label for="serial">Serial Number: </label>
            <input type="text" name="serial" id="serial" placeholder="Item Serial Number..." required
                class="w-full border-gray-500 border p-2 rounded-lg"
            >
            <label for="dateAcquired">Date of Acquisition: </label>
            <input type="date" name="dateAcquired" id="dateAcquired"
                class="w-full border-gray-500 border p-2 rounded-lg"
            >
            {{!-- FOR NOW just use fixed 2 categories --}}
            <label for="category">Category:</label>
            <select
            name="category"
            id="category"
            class="w-full border-gray-500 border p-2 rounded-lg"
            required
            >
                <option value="" disabled selected>Select category...</option>
                <option value="Computers">Computers</option>
                <option value="Peripherals">Peripherals</option>
            </select>
            <label for="subCategory">Subcategory:</label>
            <select
            name="subCategory"
            id="subCategory"
            class="w-full border-gray-500 border p-2 rounded-lg"
            required
            >
                <option value="" disabled selected>Select subcategory...</option>
        
            </select>
            <label for="status">Status:</label>
            <select
            name="status"
            id="status"
            class="w-full border-gray-500 border p-2 rounded-lg"
            required
            >
                <option value="" disabled selected>Select status...</option>
                {{#each statuses}}
                    <option value="{{this.name}}">{{this.name}}</option>
                {{/each}}
            </select>
            <div>
                <label for="image">Item image: </label>
                <div class="relative">
                    <input type="file" name="image" id="image" required accept=".jpg, .jpeg, .png, image/jpg, image/png, image/jpeg"
                        class="cursor-pointer w-full px-4 py-2 border border-gray-500 rounded-lg focus:ring-2 focus:ring-gray-500 focus:border-transparent outline-none transition file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-gray-200 file:text-gray-700 hover:file:bg-gray-300 file:cursor-pointer"
                    >
                </div>
                <p class="text-xs text-gray-500 mt-1">
                    Allowed: JPG, JPEG, PNG • Max size: 5MB
                </p>
            </div>
            <button type="submit" class="rounded-lg justify-self-center self-center col-span-1 sm:col-span-2 w-1/2 text-md bg-green-500 hover:bg-green-700 text-white cursor-pointer p-2 text-center transition-all ease-in-out duration-300">Submit</button>
        </form>
    </div>
{{/unless}}

{{#if isEdit}}
    {{!-- edit form --}}
    <div class="w-full shadow-lg p-4 rounded-lg gap-2 bg-white">
        <h2 class="text-xl text-center font-semibold w-1/2 justify-self-center self-center">Edit Item</h2>
        <form
            class="grid grid-cols-1 sm:grid-cols-[30%_1fr] gap-2"
            id="updateForm"
        >
            <label for="name">Item name: </label>
            <input type="text" name="name" id="name" placeholder="Item Name..." value="{{name}}"
                class="w-full border-gray-500 border p-2 rounded-lg"
                required
            >
            <label for="description">Item description: </label>
            <input type="text" name="description" id="description" placeholder="Item Description..." value="{{description}}"
                class="w-full border-gray-500 border p-2 rounded-lg"
                required
            >
            <label for="brand">Brand: </label>
            <input type="text" name="brand" id="brand" placeholder="Item Brand..." value="{{brand}}"
                class="w-full border-gray-500 border p-2 rounded-lg"
                required
            >
            <label for="model">Model: </label>
            <input type="text" name="model" id="model" placeholder="Item Model..." value="{{model}}"
                class="w-full border-gray-500 border p-2 rounded-lg"
                required
            >
            <label for="serial">Serial Number: </label>
            <input type="text" name="serial" id="serial" placeholder="Item Serial Number..." value="{{serial}}"
                class="w-full border-gray-500 border p-2 rounded-lg"
                required
            >
            <label for="dateAcquired">Date of Acquisition: </label>
            <input type="date" name="dateAcquired" id="dateAcquired" value="{{formatDate this.dateAcquired}}"
                class="w-full border-gray-500 border p-2 rounded-lg"
                required
            >
            <label for="category">Category:</label>
            <select name="category" id="category" required class="w-full border-gray-500 border p-2 rounded-lg">
                <option value="" disabled>Select category...</option>

                <option value="Computers" {{#if (eq category "Computers")}}selected{{/if}}>
                    Computers
                </option>

                <option value="Peripherals" {{#if (eq category "Peripherals")}}selected{{/if}}>
                    Peripherals
                </option>
            </select>
            <label for="subCategory">Subcategory:</label>
            <select name="subCategory" id="subCategory" required class="w-full border-gray-500 border p-2 rounded-lg">
                <option value="" disabled>Select subcategory...</option>

                {{#each categories}}
                    {{#if (eq ../category this.name)}}
                        {{#each this.subCategories}}
                            <option value="{{this.name}}" {{#if (eq ../../subCategory this.name)}}selected{{/if}}>
                                {{this.name}}
                            </option>
                        {{/each}}
                    {{/if}}
                {{/each}}
            </select>
            <label for="status">Status:</label>
            <select name="status" id="status" required class="w-full border-gray-500 border p-2 rounded-lg">
                <option value="" disabled>Select status...</option>

                {{#each statuses}}
                    <option value="{{this.name}}" {{#if (eq ../status this.name)}}selected{{/if}}>
                        {{this.name}}
                    </option>
                {{/each}}
            </select>
            <div>
                <label for="image">Item image: </label>
                <div class="relative">
                    <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png, image/jpg, image/png, image/jpeg"
                        class="cursor-pointer w-full px-4 py-2 border border-gray-500 rounded-lg focus:ring-2 focus:ring-gray-500 focus:border-transparent outline-none transition file:mr-4 file:py-2 file:px-4 file:rounded file:border-0 file:text-sm file:font-semibold file:bg-gray-200 file:text-gray-700 hover:file:bg-gray-300 file:cursor-pointer"
                    >
                </div>
                <p class="text-xs text-gray-500 mt-1">
                    Allowed: JPG, JPEG, PNG • Max size: 5MB
                </p>
            </div>
            <button type="submit" class="rounded-lg justify-self-center self-center col-span-1 sm:col-span-2 w-1/2 text-md bg-green-500 hover:bg-green-700 text-white cursor-pointer p-2 text-center transition-all ease-in-out duration-300">Submit</button>
        </form>
    </div>
{{/if}}

<script>
    const form = document.getElementById('updateForm');
    const category = document.getElementById('category');

    // grab the right subcategories based on user selected category
    if (category) {
        let categories = {{{json categories}}};

        category.addEventListener('change', (event) => {
            const selectedCategory = event.target.value;
            const subCategory = document.getElementById('subCategory');
            subCategory.innerHTML = '<option value="" disabled selected>Select subcategory...</option>';
            const selected = selectedCategory;

            categories.forEach(cat => {
                if (cat.name === selected) {
                    cat.subCategories.forEach(sub => {
                        const option = document.createElement('option');
                        option.value = sub.name;
                        option.textContent = sub.name;
                        subCategory.appendChild(option);
                    });
                }
            });
        });
    }

    if (form) {
        const itemId = "{{id}}";

        form.addEventListener('submit', async (event) => {
            event.preventDefault();

            const formData = new FormData(form);

            const response = await fetch(`/items/${itemId}`, {
                method: 'PUT',
                body: formData
            });

            const data = await response.json();
            if (data.redirect) {
                window.location.href = data.redirect;
                return;
            }

            window.location.href = `/items/${itemId}?error=Unexpected+error`;
        });
    }
</script>