<div class="w-full max-h-80 flex flex-col shadow-lg rounded-lg overflow-hidden bg-white">
    <div class="overflow-hidden w-full h-50 relative">
        
        {{#ifContains status "Available"}}
            <span class="m-2 px-3 py-1 text-sm font-semibold rounded-lg bg-green-100 text-green-800 absolute z-10">
                Available
            </span>
        {{/ifContains}}

        {{#ifContains status "In-Use"}}
            <span class="m-2 px-3 py-1 text-sm font-semibold rounded-lg bg-purple-100 text-purple-800 absolute z-10">
                In-Use
            </span>
        {{/ifContains}}

        {{#ifContains status "Maintenance"}}
            <span class="m-2 px-3 py-1 text-sm font-semibold rounded-lg bg-orange-100 text-orange-800 absolute z-10">
                Maintenance
            </span>
        {{/ifContains}}

        {{#ifContains status "Retired"}}
            <span class="m-2 px-3 py-1 text-sm font-semibold rounded-lg bg-gray-100 text-gray-800 absolute z-10">
                Retired
            </span>
        {{/ifContains}}

        <img src="{{this.imageUrl}}" alt="{{this.imageAlt}}" onclick="location.href='/items/{{this.id}}'"
            class="w-full object-contain hover:scale-110 transition-all duration-300 ease-in-out cursor-pointer"
        >
    </div>

    <div class="p-2">
        <h3 class="text-lg font-medium">{{this.name}}</h3>

        <p>{{this.location}}</p>
        <p class="truncate">{{this.description}}</p>
    </div>

    <div class="p-2 border-t border-gray-100 space-y-2">
        <button
            class="cursor-pointer w-full py-2 rounded-md bg-blue-600 text-white font-medium hover:bg-blue-700 transition"
            onclick="openForm('{{this.id}}')"
        >
            Check-out
        </button>

        <!-- Secondary actions row -->
        <div class="flex gap-2">

            <button
            class="cursor-pointer flex-1 py-2 rounded-md bg-gray-100 text-gray-700 hover:bg-gray-200 transition text-sm"
            onclick="location.href='/items/{{this.id}}'"
            >
            View
            </button>

            {{#if (eq @root.user.role "Admin")}}
            <button
            class="cursor-pointer flex-1 py-2 rounded-md bg-purple-100 text-purple-700 hover:bg-purple-200 transition text-sm"
            onclick="openadminForm('{{this.id}}')"
            >
            Assisted Check-out
            </button>
            {{/if}}

        </div>

    </div>
</div>