{{!-- 

SHOWS CURRENTLY OWNED ITEMS  

--}}

{{!-- style later --}}
<div class="min-h-screen flex flex-col items-center p-6 ">
    <h1 class="text-2xl font-bold mb-6 text-center">Owned items List</h1>
    <div class="w-full max-w-6xl overflow-x-auto rounded-2xl shadow-lg bg-white">
        <table class="w-full text-left rounded-2xl min-w-[600px]">
            <thead class="bg-blue-500 text-white text-sm uppercase">
                <tr>
                <th class="p-3">ID</th>
                <th class="p-3">Name</th>
                
                <th class="p-3">Date acquired</th>
                <th class="p-3">Status</th>
                </tr>
            </thead>

            <tbody>
                {{#if items.length}}
                {{#each items}}
                <tr class="border-t bg-white hover:bg-gray-100">
                    <td class="p-3 font-semibold">{{this.id}}</td>
                    <td class="p-3"><a href="/items/{{this.id}}" class="hover:underline">{{this.name}}</a></td>
                    {{#if this.dateAcquired}}
                        <td class="p-3">{{this.dateAcquired}}</td>
                    {{else}}
                        <td class="p-3">no data</td>
                    {{/if}}
                    {{!-- maybe add color styling for diff status --}}
                    <td class="p-3 font-medium text-gray-600">{{this.status}}</td> 
                </tr>
                {{/each}}
                {{else}}
                <tr class="border-t bg-white">
                <td class="p-3 text-center text-gray-500" colspan="4">No data available</td>
                </tr>
            {{/if}}
            </tbody>
        </table>
    </div>
</div>