<main class="w-full flex flex-col justify-center items-center gap-y-5">
    <h1 class="text-3xl font-bold justify-self-center self-start">Item Detail</h1>

    <div class="grid grid-cols-2 gap-5">
        <a href="/items" class="text-center text-white text-md bg-green-500 p-2 hover:bg-green-700 cursor-pointer rounded-md transition-all duration-300 ease-in-out">
            Back to Items
        </a>
        <a href="/items/{{id}}/history" class="text-center text-white text-md bg-green-500 p-2 hover:bg-green-700 cursor-pointer rounded-md transition-all duration-300 ease-in-out">
            View Item History
        </a>
    </div>

    <section class="w-full flex flex-col justify-center items-center gap-y-5">
        <img src="{{imagePath}}" alt="{{imageAlt}}"
            class="w-1/3 object-contain rounded-lg shadow-lg shadow-gray-500"
        >
        
        <h2 class="text-2xl font-semibold">{{name}}</h2>

        {{!-- render status of item --}}
        <div>
            {{#ifContains status "Available"}}
                <p class="text-lg font-medium text-green-500">Available</p>
            {{/ifContains}}
            {{#ifContains status "In-Use"}}
                <p class="text-lg font-medium text-purple-500">In Use</p>
            {{/ifContains}}
            {{#ifContains status "Maintenance"}}
                <p class="text-lg font-medium text-orange-500">Maintenance</p>
            {{/ifContains}}
            {{#ifContains status "Retired"}}
                <p class="text-lg font-medium text-gray-500">Retired</p>
            {{/ifContains}}
        </div>

        <div class="w-1/2 grid grid-cols-2 gap-5 rounded-lg shadow-lg shadow-gray-500 p-5">
            <p class="text-lg font-medium">Category: {{category}}</p>
            <p class="text-lg font-medium">Model: {{model}}</p>
            <p class="text-lg font-medium">Brand: {{brand}}</p>
            <p class="text-lg font-medium">Serial Number: {{serial}}</p>
            <p class="text-lg font-medium">Date of Acquisition: {{dateAcquired}}</p>
            <p class="text-lg font-medium col-span-2">Description: {{description}}</p>
        </div>

        <div class="w-1/2 flex justify-between gap-x-10">
            <button class="rounded-lg w-full p-2 cursor-pointer text-md bg-purple-500 hover:bg-purple-700 text-white transition-all duration-300 ease-in-out"
                onclick="location.href='/items/{{id}}?edit=true'"
            >
                Edit
            </button>
            <button class="rounded-lg w-full p-2 cursor-pointer text-md bg-red-500 hover:bg-red-700 text-white transition-all duration-300 ease-in-out"
                onclick="location.href='/items/{{id}}?delete=true'"
            >
                Delete
            </button>
        </div>
    </section>
</main>