{{!-- 

SHOWS CURRENTLY OWNED ITEMS  

--}}

{{!-- style later --}}
<div class="flex flex-col items-center px-8 py-6 ">
    <div class="fixed top-20 left-1/2 -translate-x-1/2 w-full max-w-md z-50">
        {{> toast}}
    </div>
    {{!-- header --}}
    <div class="w-full mb-6">
        <h1 class="text-3xl font-bold text-gray-800">Owned Items</h1>
        <p class="text-gray-500 mt-1">Items currently checked out to you</p>
    </div>

    <div class="w-full overflow-x-auto shadow-lg bg-white rounded-2xl p-6">
        <table class="w-full border border-gray-200 text-left">

            {{!-- table header --}}
            <thead class="bg-blue-500 text-white">
                <tr>
                    <th class="px-4 py-2">ID</th>
                    <th class="px-4 py-2">ITEM</th>
                    <th class="px-4 py-2">DATE RECEIVED</th>
                    <th class="px-4 py-2">BORROW DURATION</th>
                    <th class="px-4 py-2">GIVEN DURATION</th>
                    <th class="px-4 py-2">RETURN DATE</th>
                    <th class="px-4 py-2">STATUS</th>
                    <th class="px-4 py-2">ACTION</th>
                </tr>
            </thead>

            <tbody>
                {{#if items.length}}
                    {{#each items}}
                    <tr class="border-b hover:bg-gray-50 transition">

                        {{!-- ID --}}
                        <td class="px-4 py-2 font-mono text-xs font-semibold text-gray-700">
                            {{this.id}}
                        </td>

                        {{!-- NAME --}}
                        <td class="px-4 py-2">
                            <a href="/items/{{this.id}}" class="font-medium text-blue-600 hover:underline">
                                {{this.name}}
                            </a>
                        </td>

                        {{!-- RECEIVED --}}
                        <td class="px-4 py-2 text-gray-800">
                            {{#if this.createdAt}}
                                {{this.createdAt}}
                            {{else}}
                                <span class="text-gray-400">No data</span>
                            {{/if}}
                        </td>

                        {{!-- DURATION --}}
                        <td class="px-4 py-2 text-gray-800">
                            {{#if this.duration}}
                                {{this.duration}}
                            {{else}}
                                <span class="text-gray-400">Not set</span>
                            {{/if}}
                        </td>

                        <td class="p-4 text-gray-800 border-r border-gray-400">
                            {{#if this.givenDuration}}
                                {{this.givenDuration}}
                            {{else}}
                                <span class="text-gray-400">Not set</span>
                            {{/if}}
                        </td>

                        <!-- DUE -->
                        <td class="px-4 py-2 text-gray-800">
                            {{#if this.dueDate}}
                                {{this.dueDate}}
                            {{else}}
                                <span class="text-gray-400">Not set</span>
                            {{/if}}
                        </td>

                        <!-- Status -->
                        <td class="px-4 py-2">
                            {{#if (eq this.status "overdue")}}
                                <span class="px-3 py-1 text-sm font-semibold rounded-full bg-red-100 text-red-800">
                                    Overdue
                                </span>
                            {{else if (eq this.status "active")}}
                                <span class="px-3 py-1 text-sm font-semibold rounded-full bg-emerald-100 text-emerald-800">
                                    Active
                                </span>
                            {{else}}
                                <span class="px-3 py-1 text-sm rounded-full bg-gray-100 text-gray-800">
                                    Ok
                                </span>
                            {{/if}}
                        </td>

                        <!-- Action -->
                        <td class="px-4 py-2">
                            <button
                                type="button"
                                onclick="openForm('{{this.id}}')"
                                class="bg-blue-500 cursor-pointer hover:bg-blue-600 text-white text-sm px-4 py-2 m-1 rounded-lg transition shadow-sm"
                            >
                                Check-In
                            </button>
                            <a
                                href="/api/files/docs/{{this.referenceUrl}}"
                                target="_blank"
                                class="bg-gray-500 hover:bg-gray-600 text-white text-sm px-4 py-2 m-1 rounded-lg transition shadow-sm inline-block"
                                >
                                View doc ↗
                            </a>
                        </td>

                    </tr>
                    {{/each}}
                {{else}}
                    <tr>
                        <td colspan="8" class="px-4 py-2 text-center text-gray-400">
                            No currently owned items
                        </td>
                    </tr>
                {{/if}}
            </tbody>

        </table>
    </div>

    {{!-- HIDDEN FORM PAGE --}}
    <div id="modal" class="fixed inset-0 bg-black/65 flex items-center justify-center hidden z-50" onclick="closeForm()">
        {{!-- make closeform only work for background --}}
        <div class=" w-full max-w-lg" onclick="event.stopPropagation()">     
            {{> form title="Check-in" action="checkin"}}
        </div>
    </div>

    <script>
        function openForm(id) {
            document.getElementById("modal").classList.remove("hidden");

            document.getElementById("file_item").value = id;
        }

        function closeForm() {
            document.getElementById("modal").classList.add("hidden");
        }
    </script>
</div>