<div class="flex flex-col items-center bg-gray-100 px-8 py-6">
    <div class="mb-6 w-full max-w-6xl">
        <h1 class="text-3xl font-bold text-gray-800">{{item.name}} History</h1>
        <p class="text-gray-500 mt-1">All history for this item</p>
    </div>

    <div class="w-full max-w-6xl max-h-screen overflow-scroll md:overflow-hidden shadow-lg bg-white p-6">
        <div class="max-h-screen overflow-y-auto">
        <table class="w-full border border-gray-200">
            <thead class="bg-blue-500 text-white">
                <tr>
                    <th class="px-4 py-2 text-left">LOG ID</th>
                    <th class="px-4 py-2 text-left">ASSIGNEE</th>
                    <th class="px-4 py-2 text-left">DURATION</th>
                    <th class="px-4 py-2 text-left">ACTION</th>
                    <th class="px-4 py-2 text-left">STATUS</th>
                    <th class="px-4 py-2 text-left">DATE</th>
                    <th class="px-4 py-2 text-left">REFERENCE LINK</th>
                </tr>
            </thead>
            <tbody>
                {{#if isEmpty}}
                    <tr class="border-b">
                        <td colspan="100%" class="font-mono text-center text-gray-400 p-6">
                            No history for this items
                        </td>
                    </tr>
                {{else}}
                    {{#each itemHistories}}
                        <tr class="border-b">
                            <td class="px-4 py-2 font-mono text-xs">{{this.id}}</td>
                            <td class="px-4 py-2">{{this.assignee}}</td>
                            <td class="px-4 py-2">{{this.duration}}</td>
                            <td class="px-4 py-2">{{this.action}}</td>
                            <td class="px-4 py-2">{{#if (eq this.status "overdue")}}
                                    <span class="px-3 py-1 text-sm font-semibold rounded-full bg-red-100 text-red-800">
                                        Overdue
                                    </span>
                                {{else if (eq this.status "active")}}
                                    <span class="px-3 py-1 text-sm font-semibold rounded-full bg-emerald-100 text-emerald-800">
                                        Active
                                    </span>
                                {{else if (eq this.status "old")}}
                                    <span class="px-3 py-1 text-sm font-semibold rounded-full bg-gray-100 text-gray-800">
                                        Returned
                                    </span>
                                {{else if (eq this.status "returned")}}
                                    <span class="px-3 py-1 text-sm font-semibold rounded-full bg-gray-100 text-gray-800">
                                        Returned
                                    </span>
                                {{else}}
                                    <span class="px-3 py-1 text-sm font-semibold  rounded-full bg-gray-100 text-gray-800">
                                        Unknown
                                    </span>
                                {{/if}}</td>
                            <td class="px-4 py-2">{{formatDate this.createdAt}}</td>
                            <td class="px-4 py-2"><a
                                href="/api/files/docs/{{this.referenceLink}}"
                                target="_blank"
                                class="bg-gray-500 hover:bg-gray-600 text-white text-sm px-4 py-2 m-1 rounded-lg transition shadow-sm inline-block"
                                >
                                View doc ↗
                            </a></td>
                        </tr>
                    {{/each}}
                {{/if}}
            </tbody>
        </table>
    </div>
        {{#if itemHistories.length}} 
            {{>historyPaginator}}
        {{/if}}
</div>